* {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

body {
    background: #121212;
}

#game {
    border:1px solid #FFFFFF;
}

#center {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
}

#restart {
    cursor: pointer;
    color: #FFFFFF;
    background: none;
    border: #FFFFFF solid;
    padding: 5px 15px;
    border-radius: 5px 10px;
    transition: background 0.5s;
}

#restart:hover {
    background: #636363;
}