* {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

body {
    background: #161A1D;
}

#cover {
    position: absolute;
    z-index: 100;
    width: 250px;
    height: 500px;
    border-bottom:1px solid #FFFFFF;
    margin-bottom: 10px;
    text-align: center;
}

#dead {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
}

#dead #msg {
    font-size: 40px;
}

#dead .score {
    font-size: 20px;
}

.center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.coverInner {
    width: 100%;
    height: 100%;
}

#restart {
    cursor: pointer;
    background: none;
    border: #FFFFFF solid;
    padding: 5px 15px;
    border-radius: 5px 10px;
    transition: background 0.5s;
}

#restart:hover {
    background: #636363;
}